<div class="row">
	<h3 class="col-xs-12 col-sm-6"><%= @controller_name %> <%= actionNameChange controller.action_name %></h3>
	<div class="col-xs-12 col-sm-6">

	</div>
</div>
<div class="table-responsive">
  <table width="100%" cellpadding="0" cellspacing="0" class="table table-bordered table-striped">
		<colgroup>
			<col style="width:100px" />
			<col />
			<col style="width:70px" />
			<col style="width:130px" />
    <% if can?(:update, Gallery) || can?(:delete, Gallery) %>
    <col <%=raw manage_width(Gallery) %> />
    <% end %>
		</colgroup>
		<thead>
			<tr>
				<th><%=t(:label_photo) %></th>
				<th><%=t(:label_title) %></th>
				<th>조회</th>
				<th>등록일</th>
        <th><%=t(:label_manage) %></th>
			</tr>
		</thead>
		<tbody>
			<% unless @admin_galleries.empty? %>
			<% @admin_galleries.each do |admin_gallery| %>
			<tr>
				<td><%=image_tag admin_gallery.photo.small_thumb %></td>
				<td><p><%= link_to admin_gallery.title, admin_gallery_path(admin_gallery)  %></p></td>
				<td class="sl_right"><p class="sl_count"></p></td>
				<td class="sl_right"><p class="sl_registered_date"><%=admin_gallery.created_at.to_date %></p></td>
      <% if can?(:update, admin_gallery) || can?(:delete, admin_gallery) %>
      <td>
        <% if can? :update, admin_gallery %>
        <%= link_to edit_admin_gallery_path(admin_gallery),:class=>"btn btn-default btn-sm" do %>
        <i class="glyphicon glyphicon-pencil"></i> <%=t(:link_edit) %>
        <% end %>
        <% end %>
        <% if can? :delete, admin_gallery %>
        <%= link_to admin_gallery_path(admin_gallery), :method => :delete, :data => { :confirm => t(:delete_confirm) },:class=>"btn btn-sm btn-danger pull-right" do %>
        <i class="glyphicon glyphicon-trash"></i> <%=t(:link_delete) %>
        <% end %>
        <% end %>
      </td>
      <% end %>
			</tr>
			<% end %>
			<% else %>
			<tr>
        <td colspan="5"><p><%=t(:no_data) %></p></td>
			</tr>
			<% end %>
		</table>
</div>
<div class="row">
  <div class="col-xs-6 col-sm-3 col-md2">
    <% if can? :create, Gallery %>
    <%= link_to new_admin_blog_category_path,:class=>"btn btn-primary" do %>
    <i class="glyphicon glyphicon-plus"></i> <%= t(:link_new) %>
    <% end %>
    <% end %>
  </div>
  <%= paginate @admin_galleries %>
</div>
