<div class="sl_show">
	<p>
		<b><%=t(:title,scope:[:activerecord,:attributes,:report]) %></b>
		<%= @faq.title %>
	</p>
	<p>
		<b><%=t(:enable,scope:[:activerecord,:attributes,:report]) %></b>
		<%=raw flagToString(@faq.enable) %>
	</p>
	<p>
  	<b><%=t(:label_created_at) %></b>
  	<%= @faq.created_at %>
  </p>
  <p>
  	<b><%=t(:label_updated_at) %></b>
  	<%= @faq.created_at %>
  </p>
</div>
<% if can? :update, Report %>
<%= link_to t(:link_edit), edit_admin_faq_path(@faq) %> |
<% end %>
<%= link_to t(:link_list), admin_faqs_path %>
