<% breadcrumb :programs %>
<ol class="nav nav-tabs sl_categories">
	<% unless @program_categories.empty? %>
	<% @program_categories.each do |program_category| %>
	<li class="nav-item">
	<% if(program_category.id!=nil && (@program_category_id==program_category.id))
		m_class="nav-link active" else  m_class="nav-link" end %>
		<%= link_to programs_path(:program_category_id=>program_category.id),:class=>m_class do %>
		<%= program_category.title %><span class="hidden-xs">(<%= program_category.program_categories_programs_count %>)</span>
		<% end %>
	</li>
	<% end %>
	<% else %>
	<li>
		<%= t(:no_data)%>
	</li>
	<% end %>
</ol>
<div id="sl_program_index">
	<article>
		<h3>알림</h3>
		<p>소스를 가져다 마음껏 수정해서 쓰는것은 상관없으나<br />
		소스 설치와 사용에 대해서는 지원하지 않습니다.<br />
		하지만 <strong>많은 돈</strong> 준다면 지원할 수 있습니다~ ^^</p>
	</article>
	<% unless @programs.empty? %>
	<% @programs.each do |program| %>
	<article>
		<h3><%=program.title %></h3>
		<div>
			<h4>정보</h4>
			<p><%=raw program.description %></p>
			<ul>
				<li>주 사용프로그램 :
				<% unless program.program_categories_programs.empty? %>
					<ul>
					<% program.program_categories_programs.each do |use_program| %>
					<% next unless use_program.program_category.main %>
					<% if @program_category_id.present? %>
					<% next unless use_program.program_category.id==@program_category_id %>
					<% end %>
						<li><%=link_to use_program.program_category.title,use_program.program_category.link,:target=>"_blank",:title=>'새창으로 열림 - '+use_program.program_category.title+'홈페이지로 이동' %></li>
					<% end %>
					</ul>
				<% end %>
				<li>기타 사용프로그램 :
				<% unless program.program_categories_programs.empty? %>
					<ul>
					<% program.program_categories_programs.each do |use_program| %>
					<% next if use_program.program_category.main %>
						<li><%=link_to use_program.program_category.title,use_program.program_category.link,:target=>"_blank",:title=>'새창으로 열림 - '+use_program.program_category.title+'홈페이지로 이동' %></li>
					<% end %>
					</ul>
				<% end %>
				</li>
			</ul>
		</div>
		<% unless program.program_links.empty? %>
		<% program.program_links.each do |program_link| %>
		<div>
			<h4><%=program_link.title %> <%=t(:download_source) %></h4>
			<ul>
				<li><%=link_to t(:source_repository),program_link.repository %></li>
				<li><%=link_to t(:download_source_zip),program_link.download_link %></li>
			</ul>
		</div>
		<% end %>
		<% end %>
	</article>
	<% end %>
	<% end %>
  <%= paginate @programs %>
</div>
