<ul class="nav main-menu">
	<% if can? :read, User %>
	<li class="dropdown">
		<a class="dropdown-toggle dropmenu<% if params[:controller]=='admin/operators' || params[:controller]=='admin/users' || params[:controller]=='admin/groups' || params[:controller]=='admin/kits' %> active<% end %>" data-toggle="dropdown" href="#">
			<i class="glyphicon glyphicon-user glyphicon-white"></i>
			<%=t(:menu_user,scope:[:admin_menu]) %>
			<span class="caret"></span>
		</a>
		<ul	class="dropdown-menu<% if params[:controller]=='admin/operators' || params[:controller]=='admin/users' || params[:controller]=='admin/groups' || params[:controller]=='admin/kits' %> current<% end %>">
			<% if can? :read, User %>
			<li<% if params[:controller]=='admin/users' %> class="active"<% end %>><%=link_to admin_users_path do %>
				<i class="glyphicon glyphicon-user glyphicon-white"></i>
				<%=t(:user,scope:[:activerecord,:models])%><% end %></li>
			<% end %>
		</ul>
	</li>
	<% end %>

	<% if can?(:read, BlogCategory) || can?(:read, Blog) %>
	<li class="dropdown">
		<a class="dropdown-toggle dropmenu<% if params[:controller]=='admin/blog_categories' || params[:controller]=='admin/blogs' %> active<% end %>" data-toggle="dropdown" href="#">
			<i class="glyphicon glyphicon-list-alt glyphicon-white"></i>
			<%=t(:menu_blog,scope:[:admin_menu]) %>
			<span class="caret"></span>
		</a>
		<ul	class="dropdown-menu<% if params[:controller]=='admin/blog_categories' || params[:controller]=='admin/blogs' %> current<% end %>">
			<% if can? :read, BlogCategory %>
			<li<% if params[:controller]=='admin/blog_category' %> class="active"<% end %>><%=link_to admin_blog_categories_path do %>
				<i class="glyphicon glyphicon-list-alt glyphicon-white"></i>
				<%=t(:blog_category,scope:[:activerecord,:models])%><% end %></li>
			<% end %>
			<% if can? :read, Blog %>
			<li<% if params[:controller]=='admin/blogs' %> class="active"<% end %>><%=link_to admin_blogs_path do %>
				<i class="glyphicon glyphicon-list-alt glyphicon-white"></i>
				<%=t(:blog,scope:[:activerecord,:models])%><% end %></li>
			<% end %>
		</ul>
	</li>
	<% end %>

	<% if can?(:read, GalleryCategory) || can?(:read, Gallery) %>
	<li class="dropdown">
		<a class="dropdown-toggle dropmenu<% if params[:controller]=='admin/gallery_categories' || params[:controller]=='admin/galleries' %> active<% end %>" data-toggle="dropdown" href="#">
			<i class="glyphicon glyphicon-list-alt glyphicon-white"></i>
			<%=t(:menu_gallery,scope:[:admin_menu]) %>
			<span class="caret"></span>
		</a>
		<ul	class="dropdown-menu<% if params[:controller]=='admin/gallery_categories' || params[:controller]=='admin/galleries' %> current<% end %>">
			<% if can? :read, GalleryCategory %>
			<li<% if params[:controller]=='admin/gallery_categories' %> class="active"<% end %>><%=link_to admin_gallery_categories_path do %>
				<i class="glyphicon glyphicon-list-alt glyphicon-white"></i>
				<%=t(:gallery_category,scope:[:activerecord,:models])%><% end %></li>
			<% end %>
			<% if can? :read, Gallery %>
			<li<% if params[:controller]=='admin/galleries' %> class="active"<% end %>><%=link_to admin_galleries_path do %>
				<i class="glyphicon glyphicon-list-alt glyphicon-white"></i>
				<%=t(:gallery,scope:[:activerecord,:models])%><% end %></li>
			<% end %>
		</ul>
	</li>
	<% end %>

	<% if can?(:read, Question) || can?(:read, GuestBook) || can?(:read, Notice) %>
	<li class="dropdown">
		<a class="dropdown-toggle dropmenu<% if params[:controller]=='admin/questions' ||  params[:controller]=='admin/guest_books'|| params[:controller]=='admin/notices' %> active<% end %>" data-toggle="dropdown" href="#">
			<i class="glyphicon glyphicon-list-alt glyphicon-white"></i>
			<%=t(:menu_board,scope:[:admin_menu]) %>
			<span class="caret"></span>
		</a>
		<ul	class="dropdown-menu<% if params[:controller]=='admin/questions' || params[:controller]=='admin/guest_books' || params[:controller]=='admin/notices' %> current<% end %>">
			<% if can? :read, Question %>
			<li<% if params[:controller]=='admin/questions' %> class="active"<% end %>><%=link_to admin_questions_path do %>
				<i class="glyphicon glyphicon-list-alt glyphicon-white"></i>
				<%=t(:question,scope:[:activerecord,:models])%><% end %></li>
			<% end %>
			<% if can? :read, GuestBook %>
			<li<% if params[:controller]=='admin/guest_books' %> class="active"<% end %>><%=link_to admin_guest_books_path do %>
				<i class="glyphicon glyphicon-list-alt glyphicon-white"></i>
				<%=t(:guest_book,scope:[:activerecord,:models])%><% end %></li>
			<% end %>
			<% if can? :read, Notice %>
			<li<% if params[:controller]=='admin/notices' %> class="active"<% end %>><%=link_to admin_notices_path do %>
				<i class="glyphicon glyphicon-list-alt glyphicon-white"></i>
				<%=t(:notice,scope:[:activerecord,:models])%><% end %></li>
			<% end %>
		</ul>
	</li>
	<% end %>

</ul>
