<article>
	<% unless @users.empty? %>
	<dl class="dl-horizontal" itemscope itemtype="http://schema.org/Person">
		<% @users.each do |user| %>
		<dt itemprop="name"><%=user.name %> </dt>
		<dd><%=user.description %></dd>
		<% end %>
	</dl>
	<% else %>
	<p><%=t(:no_data) %></p>
	<% end %>
	<span class="label label-info"><%=@user_count %></span> 명이 서명하였습니다.	<% unless user_signed_in? %> &nbsp;&nbsp;<%=link_to '서명하기', new_user_registration_path %><% end %>
	<%=link_to t(:link_more),users_path,:class=>'more' %>
</article>
