<section id="sl_history_index">
		<h2>약력</h2>
		<dl>
			<% unless @histories.empty? %>
			<% @histories.each do |history| %>			
			<dt><%=history.year %></dt>
			<dd>
				<b><%=history.title %></b>
				<%=simple_format(history.content) %>
			<% if user_signed_in? %>
			<% if current_user.admin? %>				
				<div class="history_menu">
					<%= link_to t(:link_edit), edit_history_path(history) %> &nbsp; | &nbsp; <%= link_to t(:link_delete), history, method: :delete, data: { confirm: t(:delete_confirm) } %>
				</div>
			<% end %>
			<% end %>				
			</dd>
			<% end %>
			<% end %>
		</dl>
	<% if user_signed_in? %>
	<% if current_user.admin? %>			
		<%= link_to t(:link_new), new_history_path %>
	<% end %>
	<% end %>		
</article>