<div class="row">
	<h3 class="col-xs-12 col-sm-6"><%= @controller_name %> <%= actionNameChange controller.action_name %></h3>
	<div class="col-xs-12 col-sm-6">

	</div>
</div>
<div class="table-responsive">
  <table width="100%" cellpadding="0" cellspacing="0" class="table table-bordered table-striped">
		<colgroup>
      <col style="width:100px" />
      <col />
      <col />
      <col style="width:70px" />
      <col style="width:100px" />
      <col style="width:130px" />
      <% if can?(:update, GuestBook) || can?(:delete, GuestBook) %>
      <col <%=raw manage_width(GuestBook) %> />
      <% end %>
    </colgroup>
    <thead>
			<tr>
        <th><%=t(:label_number) %></th>
        <th><%=t(:user_id,scope:[:activerecord,:attributes,:question]) %></th>
        <th><%=t(:title,scope:[:activerecord,:attributes,:question]) %></th>
        <th><%=t(:label_count) %></th>
        <th><%=t(:enable,scope:[:activerecord,:attributes,:question]) %></th>
        <th><%=t(:label_created_at) %></th>
				<% if can?(:update, GuestBook) || can?(:delete, GuestBook) %>
        <th><%=t(:label_manage) %></th>
				<% end %>
      </tr>
    </thead>
    <tbody>
      <% unless @admin_guest_books.empty? %>
      <% @admin_guest_books.each do |admin_guest_book| %>
			<tr>
				<td><%=link_to admin_guest_book.id, admin_guest_book_path(admin_guest_book) %></td>
        <td><%=userName(admin_guest_book,10) %></td>
        <td><%= link_to admin_guest_book.title, admin_guest_book_path(admin_guest_book) %></td>
        <td><%=admin_guest_book.count+admin_guest_book.impressionist_count(:filter=>:ip_address) %></td>
        <td><%= raw flagToString(admin_guest_book.enable) %></td>
        <td><%=admin_guest_book.created_at.to_date %></td>
        <% if can?(:update, admin_guest_book) || can?(:delete, admin_guest_book) %>
        <td>
          <% if can? :update, admin_guest_book %>
          <%= link_to edit_admin_guest_book_path(admin_guest_book),:class=>"btn btn-default" do %>
          <i class="glyphicon glyphicon-pencil"></i> <%=t(:link_edit) %>
          <% end %>
          <% end %>
          <% if can? :delete, admin_guest_book %>
          <%= link_to admin_guest_book_path(admin_guest_book), :method => :delete, :data => { :confirm => t(:delete_confirm) },:class=>"btn btn-danger" do %>
          <i class="glyphicon glyphicon-trash"></i> <%=t(:link_delete) %>
          <% end %>
          <% end %>
        </td>
        <% end %>
      </tr>
      <% end %>
      <% else %>
      <tr>
        <td colspan="6"><p><%=t(:no_data) %></p></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="row">
	<div class="col-xs-6 col-sm-3 col-md-2">
		<% if can? :create, GuestBook %>
		<%= link_to new_admin_guest_book_path,:class=>"btn btn-primary" do %>
		<i class="glyphicon glyphicon-plus"></i> <%= t(:link_new) %>
		<% end %>
		<% end %>
	</div>
	<nav class="col-xs-12 col-sm-9 col-md-10">
		<%= paginate @admin_guest_books %>
	</nav>
</div>
