<div class="row">
	<h3 class="col-xs-12 col-sm-6"><%= @controller_name %> <%= actionNameChange controller.action_name %></h3>
	<div class="col-xs-12 col-sm-6">

	</div>
</div>
<div class="table-responsive">
  <table width="100%" cellpadding="0" cellspacing="0" class="table table-bordered table-striped">
    <colgroup>
      <col style="width:100px" />
      <col style="width:130px" />
      <col />
      <col />
      <col style="width:130px" />
      <col style="width:130px" />
      <col style="width:130px" />
      <% if can?(:update, Blog) || can?(:delete, Blog) %>
      <col <%=raw manage_width(Blog) %> />
      <% end %>
    </colgroup>
    <thead>
      <tr>
        <th><%= t(:label_number) %></th>
        <th><%=t(:photo,scope:[:activerecord,:attributes,:blog]) %></th>
        <th><%=t(:blog_category_id,scope:[:activerecord,:attributes,:blog]) %></th>
        <th><%=t(:title,scope:[:activerecord,:attributes,:blog]) %></th>
        <th><%=t(:count,scope:[:activerecord,:attributes,:blog]) %></th>
        <th><%=t(:blog_comments_count,scope:[:activerecord,:attributes,:blog]) %></th>
        <th><%=t(:enable,scope:[:activerecord,:attributes,:blog]) %></th>
				<% if can?(:update, Blog) || can?(:delete, Blog) %>
				<th><%= t(:label_manage) %></th>
				<% end %>
      </tr>
    </thead>
    <tbody>
      <% unless @admin_blogs.empty? %>
      <% @admin_blogs.each do |admin_blog| %>
      <tr>
        <td><%=admin_blog.id %></td>
        <td>
					<% if admin_blog.photo? %>
					<%=link_to admin_blog_path(admin_blog) do %>
						<%=image_tag admin_blog.photo.small_thumb %>
					<% end %>
					<% else %>
					<%=t(:no_photo) %>
					<% end %>
				</td>
        <td><%=link_to admin_blog.blog_category.title,admin_blog_category_path(admin_blog.blog_category_id) %></td>
        <td><%=link_to admin_blog.title,admin_blog_path(admin_blog) %></td>
        <td><%=admin_blog.count+admin_blog.impressionist_count(:filter=>:ip_address) %></td>
        <td><%=admin_blog.blog_comments_count %></td>
				<td><%= raw flagToString(admin_blog.enable) %></td>
        <% if can?(:update, admin_blog) || can?(:delete, admin_blog) %>
        <td>
          <% if can? :update, admin_blog %>
          <%= link_to edit_admin_blog_path(admin_blog),:class=>"btn btn-default" do %>
          <i class="glyphicon glyphicon-pencil"></i> <%=t(:link_edit) %>
          <% end %>
          <% end %>
          <% if can? :delete, admin_blog %>
          <%= link_to admin_blog_path(admin_blog), :method => :delete, :data => { :confirm => t(:delete_confirm) },:class=>"btn btn-danger" do %>
          <i class="glyphicon glyphicon-trash"></i> <%=t(:link_delete) %>
          <% end %>
          <% end %>
        </td>
        <% end %>
      </tr>
      <% end %>
      <% else %>
      <tr>
        <td colspan="8"><%=t(:no_data) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-xs-6 col-sm-3 col-md-2">
    <% if can? :create, Blog %>
    <%= link_to new_admin_blog_path,:class=>"btn btn-primary" do %>
    <i class="glyphicon glyphicon-plus"></i> <%= t(:link_new) %>
    <% end %>
    <% end %>
  </div>
	<nav class="col-xs-12 col-sm-9 col-md-10">
		<%= paginate @admin_blogs %>
	</nav>
</div>
