<div class="sl_show">
	<p>
		<b><%=t(:title,scope:[:activerecord,:attributes,:blog]) %></b>
		<%= @admin_blog.title %>
	</p>
	<p>
  	<b><%=t(:content,scope:[:activerecord,:attributes,:blog_content]) %></b>
		<%= simple_format(@admin_blog.blog_content.content) %>
	</p>
	<p>
  	<b><%=t(:label_count) %></b>
  	<%=@admin_blog.count+@admin_blog.impressionist_count(:filter=>:ip_address) %>
  </p>
	<p>
		<b><%=t(:enable,scope:[:activerecord,:attributes,:blog]) %></b>
		<%=raw flagToString(@admin_blog.enable) %>
	</p>
	<p>
  	<b><%=t(:label_created_at) %></b>
  	<%= @blog.created_at %>
  </p>
  <p>
  	<b><%=t(:label_updated_at) %></b>
  	<%= @blog.created_at %>
  </p>
</div>
<% if can? :update, @blog %>
<%= link_to t(:link_edit), edit_admin_blog_path(@admin_blog) %> |
<% end %>
<%= link_to t(:link_list), admin_blogs_path %>
